<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/george/Documents/LearningSelenium"><classes><class name="GK.Selenium.Selenium_02"><methods><include name="testMethods"/></methods></class><class name="GK.Selenium.Selenium_03"><methods><include name="testMethod"/></methods></class><class name="GK.Selenium.Selenium_10"><methods><include name="testVWoLogin"/></methods></class><class name="GK.Testcase02"><methods><include name="titlePage"/></methods></class></classes></test></suite>